.title{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    color: #CA2906;
    margin-bottom: 40px;
    font-size: 40px;
line-height: 1.35;
}

.phrase{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    color: #CA2906;
    margin-bottom: 40px;
    font-size: 26px;
line-height: 1.35;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}